#head-filter{
   display: grid;
   grid-template-columns: 1fr 3fr;
   margin-top: 13px;
   align-items: center;
}

#head-filter a{
   border: 1px solid #853232;
   box-sizing: border-box;
   border-radius: 2px;
   width: fit-content;
   height: fit-content;
   padding: 5px 16px;
   text-decoration: none;
   font-size: 13px;

   color: #6F0812;
}

#filter{
   width: 160px;
   padding: 5px 10px;

   background: #853232;
   border-radius: 2px;
   border: 0;
   margin: 0px 8px;

   font-size: 13px;
   color: #F5EEDC;
   
   line-height: 23px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
   color: #F5EEDC;
   opacity: 1; /* Firefox */
 }

 #btn-search{
   padding: 5px 10px;
   
   background: #9B111E;
   border-radius: 2px;
   font-size: 13px;
   line-height: 25px;
   text-align: center;

   color: #F5EEDC;
   border: 0px;
 }

 #btn-search:hover{
    cursor: pointer;
 }

 select, option{
   background: #F5EEDC;
   border: 1px solid #853232;
   border-radius: 2px;
   padding: 5px 10px;
   margin: 0px 0px 0px 8px;

   -webkit-appearance: none;
   -moz-appearance: none;
   text-indent: 1px;

   font-size: 13px;
   color: #6F0812;
 }

 select:focus{
   background: #6F0812;
   color: #F5EEDC;
 }

h1{
   font-size: 42px;
   font-family: 'Rozha One';
   text-align: left;
}

.masonry{ 
   margin-top: 20px;
   column-count: 4;
   column-gap: 10px;
   margin-left: auto;
   margin-right: auto;
   width: 100%;
}

